#Minesweeper {
  height: 100%;
  width: 100%;
  .Minesweeper-Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      width: 3rem;
      font-size: 3rem;
    }
    .Minesweeper-Reset-Button {
      border-style: outset;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 36px;
      width: 36px;
      cursor: pointer;
      user-select: none;
      img {
        height: 75%;
        width: 75%;
      }
    }
  }
  .Minesweeper-Field {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 300px;
    width: 300px;
    justify-items: center;
    align-items: center;
  }
}
