.Minesweeper-Tile {
  height: 100%;
  width: 100%;
  border-style: outset;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  &.Pressed {
    border-style: inset;
  }
  img {
    height: 16px;
    width: 16px;
  }
}
