div.window {
  width: fit-content;
  overflow: hidden;
  border: 3px solid#d8d8d8;
  header.window-header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    background: linear-gradient(90deg, #122a6e, #1a7bc2);
    padding: 4px;
    user-select: none;
    cursor: default;
    section {
      img {
        height: 16px;
        width: 16px;
        margin-right: 4px;
      }
      span {
        color: white;
        font-weight: 700;
        text-shadow: 2px 2px rgb(0, 0, 0);
      }
      button.window-button {
        border-radius: 0;
        font-weight: 700;
        background-color: #d8d8d8;
        height: 1.5rem;
        width: 1.5rem;
        &:focus {
          outline: none;
        }
      }
    }
  }
}
